<link href="https://fonts.googleapis.com/css?family=Average&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Averia+Libre|Waiting+for+the+Sunrise&display=swap" rel="stylesheet">
body, html{
	 height: 100%;
	 padding: 0;
	 margin: 0;
	 }
.tulisanHome{
	max-height: 725px;px;
}
.home{
	background-image: url("Home.JPG");
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}
.CE{
	font-family: 'Average', serif;
	text-align: center;
	font-style:normal;
	font-weight: normal;
	font-size: 80px;
	line-height: 117px;
	color: #FFFFFF;
	padding-top: 255px;
	height: 300px;
	letter-spacing: 5px;
}
.desc{
	font-family: Average;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 44px;
	color: #FFFFFF;
	height: 450px;
	padding-top: 5px;
	padding-left: 170px;
	padding-right: 170px;
	text-align: center;
}

.hr{
	display: block;
	margin-top: 70px;
	margin-left:260px;
	margin-right: 260px;
	border-style: inset;
	border-width: 1px;

}

.contact{
	display: block;
  	padding-left: 43%;
  	margin-bottom: 30px;
}
.contact_icon{
	width: 20px;
	height: auto;
}

.about{
	height: 100%;
	background-size: cover;
}
.this_or_that{
	font-size: 90px;
	font-family: 'Waiting for the Sunrise', cursive;
	text-align: center;
	align-items: center;
	padding-top: 50px;

}
.ToT_text{
	font-size: 30px;
	line-height: 90px;
	font-family: 'verdana', cursive;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;

}
.v1{
	border-left: 6px solid black;
  	height: 500px;
  	margin-top: 40px;
  	margin-right: 1px;
  	margin-left: 1px;
}

.QnA{
	padding-left: 45px;
	padding-bottom: 86px;
	padding-top: 35px;
}
.question{
	font-size: 30px;
	font-family: 'verdana', cursive;
}
.answer{
	font-size: 22px;
	font-family: 'verdana', cursive;
	padding-left: 25px;
	padding-bottom: 20px;
	color: rgba(152, 101, 101, 0.85);
}
.img_profile{
	height: 500px;
	width: auto;
	padding-left: 150px;
	float: left;
	padding-right: 100px;
}
.experienced_education{
	font-size: 40px;
	padding-bottom: 1px;
	
}
.desc_EE{
	font-size: 30px;
	padding-top: 1px;
}
.set_EE{
	padding-top: 40px;
}
.works{
	height: 100%;
	background-size: cover;
}
.img_works{
	width: 100%;
	height: auto;
	padding-bottom: 100px;
}
.article_works_tittle{
	margin-right: 40px;
	margin-left: 10px;
	font-size: 20px;
}
.article_works_text{
	font-family: 'Average', serif;
	padding-top: 10px;
	margin-right: 50px;
	margin-left: 10px;
	text-align: justify-all;
}
.gallery{
	height: 100%;
	background-size: cover;
}

.gallery_text{
	font-family: 'Waiting for the Sunrise', cursive;
	text-align: center;
	font-size: 90px;
	padding-top: 80px;
}
.gallery_img{
	width: 180px;
	height: auto;
	padding-top: 10px;
}
.portofolio{
	margin-right: 200px;
	margin-left: 200px;
	border-style: solid;
	border-width: 3px;
}
.img_portofolio{
	width: 200px;
	height: auto;
	padding-top: 20px;
}
h1{
	background-color: #70706E;
	text-align: center;
	color: white;
}
.contact_portofolio{
	line-height: 40px;
	padding-left: 15px;
	font-size: 20px;
}
.hobby_portofolio{
	line-height: 40px;
	padding-left: 15px;
	font-size: 20px;
}
.skills_portofolio{
	line-height: 40px;
	padding-left: 15px;
	font-size: 20px;
}
.profile_portofolio{
	line-height: 40px;
	padding-left: 15px;
	font-size: 20px;
}
.education_portofolio{
	line-height: 40px;
	padding-left: 15px;
	font-size: 20px;
}
.experienced_portofolio{
	line-height: 40px;
	padding-left: 15px;
	font-size: 20px;
}

}